{% extends 'base.html' %}
{% macro display_comments(comments) %}
<div class="container">
</div>
<div class="card-columns">
    {% for comment in comments %}
    <div class="card" style="font-family: fantasy; background: rgba(176, 227, 240, 0.822);">
        <div class="card-header" style="height: 40px;">
                <p class="text-center">{{comment.post.title}}</p>
        </div>
        <div class="card-body">
            <p>{{comment.comment}}</p>
        </div>
         
    </div>
    {% endfor %}
</div>

{% endmacro %}


